

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.b_n{
    margin-top: 30px;
}


h1{
    font-size: 50px;
    font-weight: bold;
}
.orange-color{
    color:orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    padding-top: 20px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(orange ,tomato);
    padding: 10px 40px;
    color:white;
    border-radius: 5px;
    font-weight: 400;
}
.build-p{
    font-size: 16px;
    text-align: justify;
}
p{
    color: dimgray;
}
.banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    width: 30%;
    padding: 2%;
}
.big-dream{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dreams{
    width: 80%;
}
.experience{
    padding: 20px;
}
.box-shadow{
    box-shadow: 5px 7px 40px gray;
    width: 40%;
    margin-left: 20px;
    border-radius: 10px;
    text-align: justify;
    padding: 20px;

}

.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.first-ex{
    padding-left: 80px;
}
.tomato-border{
    border-left: 7px solid tomato;
}
.blue-border{
    border-left: 7px solid blue;
}
.footer{
    text-align: center;
}
.ex{
    color:seagreen;
    text-align: center;
}